{{#unless anyTransactions}}
  {{onboarding-transaction-add}}
{{/unless}}

<a href="#" class="btn btn-primary btn-circle btn-add-transaction" {{action onClick}} title="Add New Transaction">
  {{inline-svg "plus" class="icon"}}
</a>
