<nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <LinkTo @route="index" class="navbar-brand">
        <Brand />
      </LinkTo>
    </div>
    <div id="navbar-right">
    </div>
  </div>
</nav>