{{#if anyEvents}}
  <h3 class="text-center">You have already created the following events</h3>

  <div class="previous-events">
    {{#each events as |event|}}
      <div class="btn-group">
        <LinkTo @route="event.index" @model={{event.id}} class="btn btn-default">
          <strong>{{event.name}}</strong>
        </LinkTo>
        <button {{action "remove" event}} class="btn btn-default" title="Remove reference from this computer. The event will still be reachable by url." aria-label="Remove event reference locally">
          {{inline-svg "close" class="icon"}}
        </button>
      </div>
    {{/each}}
  </div>
{{/if}}
