{{#each transfers as |transfer|}}
    <li class="settlement-item">
      <strong>{{transfer.sender.name}}</strong> has to send <strong>{{transfer.recipient.name}}</strong> {{transfer.amount}}
    </li>
{{/each}}
