<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div>
      <div class="navbar-header">
        <a class="navbar-brand topnav" href="/">Splitr<strong>lite</strong></a>
      </div>
    </div>
  </div>
</nav>
{{yield}}
