<nav class="navbar navbar-default" role="navigation">
  <div>
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        Splitr<strong>lite</strong>
      {{/link-to}}
    </div>
  </div>
</nav>
{{yield}}
