<header class="navbar navbar-default">
  <div>
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        Splitr<strong>lite</strong>
      {{/link-to}}
    </div>
  </div>
</header>
{{yield}}
