<button class="btn btn-link btn-lg dropdown-toggle btn-change-event" type="button" id="dropDownEvents" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  {{eventName}}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropDownEvents">
  {{#if anyOtherEvents}}
    <li class="dropdown-header">Switch to</li>
    {{#each otherEvents as |event|}}
      <li>
        {{#link-to "event.index" event.id}}
          <span class="glyphicon glyphicon-calendar"></span> {{event.name}}
        {{/link-to}}
      </li>
    {{/each}}
    <li role="separator" class="divider"></li>
  {{/if}}
  <li>
    {{#link-to "new"}}
      <span class="glyphicon glyphicon-plus"></span>
      Add New Event
    {{/link-to}}
  </li>
</ul>