<li>
  <a href="">
    <svg class="github-logo" viewBox="0 0 32 32">
      {{partial "shared/github-logo"}}
    </svg>
  </a>
</li>
<li>
  <a href="">
    <svg class="cowbell-logo" viewBox="0 0 54 54">
      {{partial "shared/cowbell-logo"}}
    </svg>
  </a>
</li>