{{#if anyTransactions}}
  {{#each transactions as |transaction|}}
    {{transaction-list-item transaction=transaction delete=(action "delete")}}
  {{/each}}
{{else}}
  <div class="alert alert-info" role="alert">
    There are no transactions yet.
  </div>
{{/if}}