{{#if anyUsers}}
  <h3>Users Balances</h3>
  <div class="well">
    <table class="table table-hover user-balance-list">
      <thead>
        <th>User</th>
        <th>Balance</th>
      </thead>
      <tbody>
        {{#each users as |user|}}
          <tr class="user-balance-list-item">
            <td>{{user.name}}</td>
            <td>{{user.balance}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
