{{#if anyUsers}}
  <h4>Individual balance</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover user-balance-list">
        <thead>
          <th>User</th>
          <th>Balance</th>
        </thead>
        <tbody>
          {{#each users as |user|}}
            <tr class="user-balance-list-item">
              <td>{{user.name}}</td>
              <td>{{user.balance}} {{user.event.currency.code}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
