{{#if anyUsers}}
  <h4>Individual balance</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover user-balance-list">
        <thead>
          <tr>
            <th>User</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedUsers as |user|}}
            {{user-balance-list-item user=user}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
