<div class="text-center">
  <h1>Something went wrong</h1>
  <p class="lead">
    Please try refresh page. If it still doesn't work you may want return to the {{link-to "Home page" "index"}}.
  </p>
</div>