@import url("https://fonts.googleapis.com/css?family=Give+You+Glory");

// Core variables and mixins
@import "vendor/bootstrap-paper/_variables";
@import "bootstrap";
@import "vendor/bootstrap-paper/_bootswatch";
@import "side-menu";
@import "_side-menu-custom";

$icon-size: 28px;
$btn-circle-size: 56px;

@mixin icon($size, $url) {
  width: $size;
  height: $size;
  display: inline-block;
  background: transparent url($url) no-repeat center;
  background-size: $size;
}

body, html {
  height: 100%;
}

.page-content {
  padding-top: 80px;
}
/* fixing crappy outline on button focus */
.btn:focus {
  outline: none !important;
}

.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
}

.btn-circle {
  width: $btn-circle-size;
  height: $btn-circle-size;
  min-width: $btn-circle-size;

  span {
    line-height: $btn-circle-size;
  }
}

table.no-border {
  td {
    border-top: none !important;
  }
}

/* fixing liquid-fire outlet issue with left and right border shadow */
.liquid-child {
  padding: 4px; //extra room for shadows to display
}

.container {
  max-width: 800px;
}

.navbar {
  svg {
    display: block;
    padding: 0px;
    margin: 0px;
  }
}

.navbar-btn {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-nav > li > a {
  padding: 16px 10px 16px 10px;
}

.navbar.visible-xs {
  .navbar-nav {
    margin: 0px;

    li {
      float: left;
    }
  }

  .navbar-text {
    float: left;
  }
}

.toolbar {
  .navbar-header {
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }
}

.github-logo {
  width: 32px;
  height: 32px;
}

.cowbell-logo {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #000;
  stroke-width: 5px;
}

main {
  padding-bottom: 70px;
}

footer {
  height: 50px;
}

.previous-events {
  text-align: center;

  .btn-group {
    margin: 10px 15px 10px 0px;
  }
}

.feature-img-container {
  height: 160px;
  line-height: 160px;
}

.user-balance-list.table {
  margin-bottom: 0px;
}

.user-balance-list-item {
  font-size: 14px;

  .label {
    font-size: 14px;
  }
}

.settlement-item {
  font-size: 14px;
  line-height: 32px;
}

.transaction-list-item {
  text-transform: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .transaction-list-item-amount {
    text-align: right;
  }

  .transaction-list-item-description {
    text-align: left;
    white-space: normal;
  }
}

.transaction-list-date {
  padding: 5px;
}

.main-promotion-text {
  padding-top: 80px;

  p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 19.5px;
  }

  @media (max-width: $screen-sm-min) {
    padding-top: 10px;
    text-align: center;
  }
}

.main-promotion-image {
  @media (max-width: $screen-md-min) {
    text-align: center;
  }
}

.previous-events-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* event nav tabs */
.nav-tabs {
  @include box-shadow(inset 0 -1px 0 #ddd);
  text-transform: uppercase;
}

.nav-tabs li a {
  box-shadow: none;
}

.add-transaction-button {
  position: fixed;
  display: flex;
  align-items: center;
  right: 20px;
  bottom: 20px;
}

.onboarding-transaction-add {
  display: flex;
  align-items: center;

  p {
    font: 1.5em "Give You Glory", cursive;
    margin: 0px;
  }

  img {
    width: 87px;
    height: 30px;
  }
}

.btn-change-event {
  text-transform: none;
  font-size: 24px;
  margin-left: -16px;
}

input.event-url {
  font-size: 26px;
  width: 100%;

  @media (max-width: $screen-sm-min) {
    font-size: 20px;
  }

  @media (max-width: $screen-xs-min) {
    font-size: 16px;
  }
}
