// Core variables and mixins
@import "vendor/bootstrap-paper/_variables";
@import "bootstrap";
@import "vendor/bootstrap-paper/_bootswatch";

$icon-size: 28px;

@mixin icon($size, $url) {
  width: $size;
  height: $size;
  display: inline-block;
  background: transparent url($url) no-repeat center;
  background-size: $size;
}

.navbar {
  .github {
    @include icon($icon-size, "../assets/images/github_white.svg");
  }

  .cowbell {
    @include icon($icon-size, "../assets/images/cowbell-labs.svg");
  }
}


.transaction-list-item {
  text-transform: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .transaction-list-item-amount {
    text-align: right;
  }

  .transaction-list-item-description {
    text-align: left;
    white-space: normal;
  }
}