{
  "extends": "airbnb-base",

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "rules": {
    "quotes": [2, "double", "avoid-escape"],
    "indent": [2, 4],
    "func-names": 0,
    "no-use-before-define": [2, "nofunc"],
    "prefer-arrow-callback": 0,
    "prefer-rest-params": 0,
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0
  }
}
