{
  "env": {
    "embertest": true
  },

  "globals": {
    "waitForPromise": true,
    "reloadPage": true,
    "exist": true,
    "identifyUserAs": true,
    "runWithTestData": true,
    "setEventAsViewed": true
  }
}
