<nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        {{partial "shared/brand"}}
      {{/link-to}}
    </div>
    <div id="navbar-right">
    </div>
  </div>
</nav>