<nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        <strong>Split</strong>lite
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="">
          <svg class="github-logo" viewBox="0 0 32 32">
            {{partial "shared/svg/github-logo"}}
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="cowbell-logo" viewBox="0 0 54 54">
            {{partial "shared/svg/cowbell-logo"}}
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>