<nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        {{partial "shared/brand"}}
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://github.com/cowbell/splittypie" target="_blank">
          {{partial "shared/svg/github-logo"}}
        </a>
      </li>
      <li>
        <a href="https://cowbell-labs.com/" target="_blank">
          {{partial "shared/svg/cowbell-logo"}}
        </a>
      </li>
    </ul>
  </div>
</nav>