{{#modal-dialog}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Confirmation</h4>
  </div>
  <div class="modal-body">
    Are you sure you want to remove reference to {{model.event.name}} from this computer?
    This event, however, will be still reachable by url for anyone.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" {{action "invokeAction" model.actions.yes_remember}}>Yes, don't show this message again</button>
    <button type="button" class="btn btn-primary" {{action "invokeAction" model.actions.yes}}>Yes</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
  </div>
{{/modal-dialog}}