{{#modal-dialog}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Share this event with your friends</h4>
  </div>
  <div class="modal-body">
    <p class="lead">
      Now give the following link to your friend.
    </p>

    {{event-url value=model.event.url}}
  </div>
{{/modal-dialog}}