{{transaction-list transactions=model.transactions users=model.users edit="edit"}}
{{#link-to "event.transactions.new" class="btn btn-primary btn-circle btn-add-transaction"}}
  <span class="glyphicon glyphicon-plus"></span>
{{/link-to}}
