<h3>Transactions</h3>

{{transaction-list currency=currency transactions=model.transactions users=model.users saveChanges="saveChanges"}}
{{link-to "Add Transaction" "event.transactions.new" class="btn btn-primary"}}
