{{transaction-form title="Make some changes in this transaction" transaction=model users=users}}
<button {{action "save"}} class="btn btn-success">Save Changes</button>
or
{{link-to "Cancel" "event.transactions"}}