<nav class="navbar navbar-default topnav" role="navigation">
  <div class="container">
    <div class="hidden-xs">
      <div class="navbar-header">
        <a class="navbar-brand topnav" href="/">Splitr<strong>lite</strong></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="">
            <span class="github"></span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="cowbell"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="visible-xs" id="navigation-xs">

    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
{{outlet "modal"}}
