<div class="container">
  <nav class="navbar navbar-default topnav" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="/">Splitr<strong>lite</strong></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#contact">Source</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{outlet}}
  {{outlet "modal"}}
</div>