<nav class="navbar navbar-default navbar-fixed-top visible-xs toolbar" role="navigation">
  <div class="navbar-header">
    <button class="navbar-btn btn btn-link" {{action "showSideMenu"}}>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <span class="navbar-brand">{{model.name}}</span>
    {{#link-to "event.edit" class="navbar-btn btn btn-link"}}
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    {{/link-to}}
  </div>
</nav>

<div class="row hidden-xs">
  <div class="col-md-12">
    <div class="pull-left">
      {{switch-event-dropdown eventName=model.name otherEvents=otherEvents}}
    </div>

    <div class="pull-right">
      {{#link-to "event.edit" class="btn btn-link btn-lg"}}
        <span class="glyphicon glyphicon-edit"></span> Edit
      {{/link-to}}
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  {{#nav-link-to "event.index"}}Overview{{/nav-link-to}}
  {{#nav-link-to "event.transactions"}}Transactions{{/nav-link-to}}
</ul>

{{liquid-outlet}}

{{#link-to "event.transactions.new" class="btn btn-primary btn-circle btn-add-transaction"}}
  <span class="glyphicon glyphicon-plus"></span>
{{/link-to}}
