<div class="jumbotron text-center">
  <h1>Split expenses with ease</h1>
  <p class="lead">
    Create event, add users and their expenses. Splitr will calculate who owes who and how much exactly.
  </p>
  <p>{{link-to "Start Now" "new" class="btn btn-lg btn-success"}}</p>
</div>

<h4 class="text-center">Your Previous Events</h4>

<div class="list-group">
  {{#each model.previousEvents as |event|}}
    {{#link-to "event.index" event.id class="list-group-item btn btn-default"}}
      <strong>{{event.name}}</strong>
    {{/link-to}}
  {{/each}}
</div>
