<div class="jumbotron text-center">
  <h1>Split expenses with ease</h1>
  <p class="lead">
    Create event, add users and theirs expenses. Splitr will calculate who owes who and how much exactly.
  </p>
  <p><button {{action "createEvent"}} class="btn btn-lg btn-success">Start Now</button></p>
</div>