{{#ember-wormhole to="navigation-xs"}}
  <div class="navbar-header">
    <a class="navbar-brand topnav" href="/">Splitr<strong>lite</strong></a>
  </div>
{{/ember-wormhole}}

<div class="jumbotron text-center">
  <h1>Split expenses with ease</h1>
  <p class="lead">
    Create event, add users and their expenses. Splitr will calculate who owes who and how much exactly.
  </p>
  <p>{{link-to "Start Now" "new" class="btn btn-lg btn-success"}}</p>
</div>

{{previous-events events=model.previousEvents}}