<h3>Create Event Budget</h3>
<div class="well">
  <div class="form-group">
    <label for="inputEmail3" class="control-label">Event Name</label>
    {{input value=model.name classNames="form-control"}}
  </div>
</div>

<h3>Participants</h3>
<div class="well">
  {{user-list users=model.users}}
  <button class="btn btn-primary" {{action "addUser"}}>Add Participant</button>
</div>

<button {{action "createEvent"}} class="btn btn-success">Create Event</button>