<nav class="navbar navbar-default navbar-fixed-top visible-xs toolbar" role="navigation">
  <div class="navbar-header">
    <button class="navbar-btn btn btn-link pull-left" {{action "showSideMenu"}}>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <span class="navbar-brand">Splitlite</span>
  </div>
</nav>

{{partial "shared/errors/not-found"}}